<!DOCTYPE html>
<html>
<head lang="zh">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0" />
    <title>首页 | 白日梦想家</title>
<!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
-->
    <link rel="stylesheet" href="css/home.css"/>
</head>
<body ng-app="app" ng-controller="homeController">

    <header class="header">
        <div class="logo">Mr.Dreamer</div>
        <nav class="clearfix">
            <ul class="nav-bar">
                <li ng-repeat="item in menuItems" ng-click="menuClick(item.name);" class="nav-item">
                    <a href="{{item.link}}" ng-class="{true: 'active', false: ''}[currentMenuName == item.name]">{{item.name}}</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="main" ng-view>
    </div>
 <!--   <footer>
        页脚
    </footer>-->

    <script src="jquery/dist/jquery.min.js"></script>
    <script src="angular/angular.min.js"></script>
    <script src="angular-route/angular-route.min.js"></script>

    <script src="js/services/jobService.js"></script>
    <script src="js/services/commonService.js"></script>

    <script src="js/controllers/homeController.js"></script>

    <script src="js/app.js"></script>



</body>
</html>