body,ul,li,p,h1,h2,h3,h4,h5{
  margin:0;
  padding:0;
}
ul li{
  list-style-type: none;
}
.clearfix:after{
  clear:both;
  content:" ";
  display: block;
  height:0;
  visibility: hidden;
}
* html .clearfix { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
.fl{
  float:left;
}
.fr{
  float:right;
}