doctype
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title 首页 | 白日梦想家
        link(href="css/home.css", rel="stylesheet")
        link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", rel="stylesheet")
    body(ng-app="homeModule", ng-controller="homeController")
        header
        nav.nav-bar.clearfix
            ul
                li(ng-repeat="item in menuItems", ng-click="menuClick(item.id);", ng-class="{true: 'nav-item active', false: 'nav-item'}[currentMenuId == item.id]")
                    a(href="{{item.link}}") {{item.name}}
        div.content
            div.side-bar
                div.usrinf
                    div.usrinf-photo
                    div.usrinf-desc 吴克炎
                    div.usrinf-desc 前端开发工程师
                ul.clearfix.share-btn-lst
                    li.share-btn
                        i.fa.fa-weibo
                    li.share-btn
                        i.fa.fa-qq
                    li.share-btn
                        i.fa.fa-weixin
                div.subnav-bar
                    div.subnav-bar-title.subnav-color1
                        i.fa.fa-suitcase
                    ul
                        li.subnav-item(ng-repeat="item in subMenuItems") {{item.name}}
        footer
    script(src="jquery/dist/jquery.min.js")
    script(src="angular/angular.min.js")
    script(src="angular-route/angular-route.min.js")
    script(src="js/controllers/homeController.js")
