<div class="wrapper">
    <div class="home-intro">
        <h3>吴克炎的个人博客</h3>
        <h2 class="intro">
            世间很美，因了触心的喜悦温柔了双眼，世间很暖，因了尘世里的懂得和絮语。心感悟了风中的流连，
            才知那缘分是深是浅，情意是浓是淡。如风的心懂得，一些记忆和深情，在心上一世流连，那是无法错过的缘。
        </h2>
        <div>
            <a href="#" class="btn-default btn-mid">查看博客</a>
        </div>
    </div>
</div>

<div>
    <div class="col4-1" ng-repeat="item in blogs" ng-style="style()" resize>
        <div class="blog-wrapper">
            <img class="blog-img" ng-src="{{item.imgSrc}}" alt="图片加载失败"/>
            <div class="blog-tag"><span>{{item.tag}}</span><span>/</span><span>{{item.date}}</span></div>
            <h3 class="blog-title">{{item.title}}</h3>
            <div class="blog-line"></div>
            <p class="blog-desc">
                {{item.content}}
            </p>
        </div>
    </div>
</div>